@media(max-width: 1590px){
    .box-desc-menu h1 { margin: 3rem 0 1rem 0;}
    .box-desc-menu header { margin-bottom: 2rem;}
}
@media(max-width: 1510px){
    .li-desc-rec .box-desc-rec .box-btn-rec {margin-bottom: 1rem;}
}
@media(max-width: 1500px){
    /*.box-desc-menu h1 { margin: 3rem 0 1rem 0;}*/
    .box-varieti .desc-varieti .sec-title {margin: 2rem 0 0 0;}
}
@media(max-width: 1430px){.box-interation {padding-top: 20%;}}
@media(max-width: 970px){
    /*----------MENU ------------*/
    .menu{display: none;}
    .menu-right {display: none;}
    .box-interation{display: none;}

}
@media(max-width: 1270px){
    .box-desc-menu .box-btn-black {
        margin: 2rem 0 2rem 0;}
}

@media(max-width: 1210px){
    /*------------INFO TOPO----------*/
    .from-city .phone { margin-left: 1rem;}
    /*-----------logo-------------*/
    .box-logo {width: 10rem; height: 10rem;margin: -5% 40%;}
    /*----------MENU ------------*/
    .menu li {padding-left: 1.5rem;}
    .menu-right li {padding-left: 1.5rem;}    
    .slider_controll{display: none;}

    .box-controlslide {display: none;}
    /*----------------------DESCRICAO VARIEDADE----------------*/
    .box-varieti .desc-varieti p { margin: 0.5rem 4rem;}
    .li-desc-rec .box-desc-rec .sec-title h2 {font-size: 1.2em; font-weight: 400;margin: 0;}
    .li-desc-rec .box-desc-rec .sec-title .txt-rec {font-size: 0.9em; margin-bottom: 1rem;}
}

@media(max-width: 1060px){
    .from-city {width: 100%;text-align: center;}
    .div-social{width: 100%;text-align: center;}

    .box-desc-menu header {margin-bottom: 0.9rem;}
    .sec-post h1 { font-size: 2.5em;}
    .box-reserva h1 {font-size: 2.5em;}
    .box-desc-menu h1 {font-size: 2.5em;margin: 2rem 0 0.5rem 0;}
    .box-desc-menu p { margin: 0 15%;}
    .box-desc-menu .box-btn-black {margin: 2rem 0;}

    .box-varieti .desc-varieti .sec-title { margin: 0.5rem 0 0 0}
    .box-varieti .desc-varieti p {margin: 0.5rem 2rem;}
    .box-varieti .desc-varieti .box-btn-veja {margin-top: 0.5rem;}

    .lista-pratos .box-list-prato .box-desc-prato h1 {width: 100%;}
    .box-pratos { width: 80%;height: auto; margin: 125px 10%;}
}
@media(max-width: 1000px){

}
@media(max-width: 900px){
    .box-reserva { width: 90%;margin: 100px 5%;}
    .box-desc-menu { width: 80%; height: 100%;float: left; margin: 0 10%;}
    .box-thumb {width: 100%;}
    .box-varieti .thumb-two { width: 80%;margin: 2.5rem 10%;}
    .box-varieti .desc-varieti { width: 80%; text-align: center; margin: 0 10%; padding: 5rem;}
    .sec-scrumptious .sec-title h1 { font-size: 2.5em;}
    .box-pratos h1 {font-size: 2.5em;}
    .box-pratos .thumb-prato { margin-bottom: 3rem;}
    .box-pratos p { text-align: justify;}
    .desc-resevation h1 { font-size: 2.5em;}
    .desc-resevation{width: 100%;padding: 0 10%;}
    .desc-resevation p {text-align: justify;}
    .btn-fz-reserva {height: 3rem;margin-top: 2rem;}
    .grid-pratos {width: calc(33.33333333333333% - 20px);}
    .tagline{text-align: center !important;} 
    .box-form-reservation label { width: calc(50% - 20px);}
    .newsletter-footer h1 {font-size: 2.5em;}
    .form-newsletter input {width: 50%;margin: 0.5rem 0;}
    .form-newsletter .btn-news {width: 50%;}
    .ul-grid-instam { width: 90%;}
    .time-function { padding: 50px 10%;}
    .time-function h1 { font-size: 2.5em;}
    .time-function .text-title-time {text-align: justify;}
    .time-function .dye {width: calc(50% - 20px);margin: 0.1rem;}
    .box-logo-footer{margin: 3rem 0;}


}
@media(max-width: 800px){
    .box-reserva { width: 80%;margin: 100px 10%;  padding: 0 2.5rem;}
    .box-varieti .desc-varieti { width: 90%;    margin: 0 5%; padding: 4rem 0;}
    .sec-scrumptious .sec-title {width: 80%;margin: 0 10%; margin-bottom: 100px;}
    .box-pratos {width: 90%; height: auto; margin: 125px 5%;}
    .form-newsletter input {width: 80%;}
    .form-newsletter .btn-news {width: 80%;}

}
@media(max-width: 700px){
    .grid-pratos {width: calc(50% - 20px);}
    .banner-mobile{display: block;}
    .slider{display: none;}
}
@media(max-width: 650px){
    .sec-post h1 {font-size: 2em;}  
    .desc-sec-post {text-align: justify;padding: 0 5%}
    .box-reserva h1 { font-size: 2em;margin: 2rem 0 0.5rem 0;}  
    .box-reserva p {margin-bottom: 1rem;text-align: justify; }
    .box-btn-reservar { margin-bottom: 3rem;}
    .lista-pratos .box-list-prato .box-thumb-list {width: 90%; float: left; margin: 0 5%}
    .lista-pratos .box-list-prato .box-desc-prato {width: 90%; float: left; margin: 5%;}
    .box-varieti {width: 95%;margin: 100px 2.5%;}
    .box-varieti .thumb-two {width: 95% !important; margin: 0.5rem 2.5% !important;}
    .box-varieti .desc-varieti p {margin: 0.5rem 0;}
    .sec-scrumptious .sec-title {width: 90%; margin: 2rem 5%;}
    .box-form-reservation label {width: calc(100% - 20px);}
    .box-pratos p { width: 95%; margin: 0 2.5% 0 2.5%;}
    .box-pratos {width: 90%;height: auto; margin: 2rem 5%;}
    .desc-resevation h1 {margin-top: 2rem;}
    .time-function h1 {font-size: 1.3em;}
    .time-function .dye { width: calc(100% - 20px); margin: 2rem 10px;}
    .box-logo-footer { margin: 0.5rem 0;}
}
@media(max-width: 560px){.lista-pratos .box-list-prato .box-desc-prato .text-title-1 .price {position: relative;}}
@media(max-width: 450px){
    .box-reserva { width: 95%; margin: 100px 2.5%; padding: 0 1.5rem;}
    .box-desc-menu h1 {font-size: 2em;}
    .box-desc-menu p { margin: 0 2.5%; text-align: justify;}
    .box-desc-menu {width: 95%;margin: 0 2.5%;}
    .box-desc-menu .box-btn-black {margin: 2rem 0 4rem 0;}
    .box-varieti .desc-varieti {width: 95%; margin: 0 2.5%; padding: 2rem 0 4rem 0;}
    .sec-scrumptious .sec-title h1 {font-size: 2em;}
    .box-pratos h1 {font-size: 2em;}    
    .grid-pratos {width: 100%;}
    .lista-pratos .box-list-prato .box-thumb-list {width: 95%;margin: 0 2.5%;}
    .btn-fz-reserva {width: 90%;}
    .social-footer {width: 95%;margin: 0 2.5%;}
    .form-newsletter input {width: 100%;}
    .form-newsletter .btn-news {width: 100%;margin-top: 0.5rem;}
    .ul-grid-instam { width: 100%;}
    .ul-grid-instam li {width: 7rem;}
}


