@media(max-width: 1600px){.box-logo {position: absolute;left: -25px;}    }
@media(max-width: 1590px){
    body{margin: 0 auto;width: 100%;}
    .box-desc-menu h1 { margin: 3rem 0 1rem 0;}
    .box-desc-menu header { margin-bottom: 2rem;}     
}

@media(max-width: 1510px){
    .li-desc-rec .box-desc-rec .box-btn-rec {margin-bottom: 1rem;}
}
@media(max-width: 1500px){
    /*.box-desc-menu h1 { margin: 3rem 0 1rem 0;}*/
    .box-varieti .desc-varieti .sec-title {margin: 2rem 0 0 0;}
    .box-logo { position: absolute;left: -22px;}
}
@media(max-width: 1430px){.box-interation {padding-top: 20%;}}
@media(max-width: 1400px){
    .box-logo { position: absolute;left: -95px;}
    .box-interation .btn-slider { margin-right: 8rem;}
    #animation {     margin-left: 590px; margin-top: 30px;}   
}

@media(max-width: 1300px){
    .a-thumb-lunch{width: calc(20% - 20px);}
}
@media(max-width: 1280px){
    .box-interation {padding-top: 22%; padding-right: 75px;}
    #animation { margin-left: 379px; margin-top: 5px}
    .box-interation .btn-slider { margin-right: 2rem;}
    #animation { margin-left: 555px; margin-top: 20px;}

    /*----------------QUEM SOMOS--------------*/
    .article-about{width: 100%;}    
}
@media(max-width: 1270px){
    .box-desc-menu .box-btn-black { margin: 2rem 0 2rem 0;}
    .control-one{position: absolute;top: -55px;}
    /*------------- CARDAPIO ------------*/
    .packages .header-title { padding: 0;}
}
@media(max-width: 1241px){
    .box-desc-plates .btn-black{padding: 0.3rem 3rem;}
    .art-single-blg{width: 50%;}
}


@media(max-width: 1210px){
    .box-social-topo{width: 100%;height: auto;padding: 0;}
    .logo-topo-mob, .box-reserva-topo{display: block;}
    .social-header{background: #fff;width: 100%;height: auto;float: left;}
    .logo-topo-mob{position: relative;float: left;left: 45%;margin: 0.2rem;}
    .lg-topo{position: relative;}
    .box-reserva-topo{float: right; text-align: center; box-sizing: border-box; display: block;top: 0;padding-right: 10px;}
    .btn-rezerva-topo{line-height: 3.5;  padding: 0.5rem 1rem;border: 1px solid #333;background: #333;color: #fff}    
    .social-header .from-city, .div-social{display: none;}
    .box-logo{position: relative;top: 25px;}
    /*-----------logo-------------*/
    .box-logo {width: 10rem; height: 10rem;margin: -5% 40%;display: none;}
    /*----------MENU ------------*/
    .menu li {display: none;}
    .menu-right li {display: none;}    
    .slider_controll{display: none;}

    /*.box-controlslide {display: none;}*/
    /*----------------------DESCRICAO VARIEDADE----------------*/
    .box-varieti .desc-varieti p { margin: 0.5rem 4rem;}
    .li-desc-rec .box-desc-rec .sec-title h2 {font-size: 1.2em; font-weight: 400;margin: 0;}
    .li-desc-rec .box-desc-rec .sec-title .txt-rec {font-size: 0.9em; margin-bottom: 1rem;}
    .form-artc input{width: 100%;}
    .form-artc .email{margin: 20px 0;}
    .form-artc .btn-coments{max-width: 10rem;}
}

@media(max-width: 1209px){
    /*--BOTAO ABRE MENU ---------*/
    .sidebar
    {
        display: block;
        position: absolute;
        width: 240px;
        height: 1068px;
        top: 0;
        left: -240px;
        background: #333;
        transition: 0.3s;
        z-index: 95;
        margin-left: 0;
    }
    .active{left: 0;position: absolute;}

    .sidebar ul{margin: 0;padding: 20px 0;}
    .sidebar ul li a { padding: 10px 20px; color: #fff; display: block; border-bottom: 1px solid rgba(0,0,0,0.2);}
    .box-logo-mob a{width: 100%;}
    .box-logo-mob a img{width: 150px;}
    .sidebarBtn
    {
        position: absolute;
        top: 0;
        right: -55px;
        width: 50px;
        height: 50px;
        box-sizing: border-box;
        border: none;
        outline: none;
        background: transparent;
        cursor: pointer;   
    }
    .sidebarBtn span
    {
        display: block;
        width: 80%;
        height: 3px;
        background: #333;
        top: 24px;
        transition: .3s;    
        margin: 0 10%;
    }

    .sidebarBtn span:before
    {
        content: "";
        position: absolute;
        top: 13px;
        width: 90%;
        height: 3px;
        left: 0;
        background: #333;
        transition: .3s;     
        margin: 0 5%;
    }
    .sidebarBtn span:after
    {
        content: "";
        position: absolute;
        top: 35px;
        width: 90%;
        height: 3px;
        left: 0;
        background: #333;
        transition: .3s;   
        margin: 0 5%;
    }
    .sidebarBtn.toggle span{background: transparent;}
    .sidebarBtn.toggle span:before{top: 24px;transform: rotate(40deg);}
    .sidebarBtn.toggle span:after{top: 24px;transform: rotate(140deg);}
    /* CONTATO */
    .bg-single-top { width: 100%;height: 6rem;}
    /* GALERIA */
    .thumb-asd-alm {width: 100%;height: auto;}
    .thumb-asd-alm img {width: 100%;height: 7rem;}
}

@media(max-width: 1176px){
    /*----------MENU ------------*/
    .menu{display: none;}
    .menu-right {display: none;}
    /*--------------SINGLE CATEGORIA-------------*/
    .desc-sg{    width: 100%; float: left;text-align: left;}
    /* GALERIA */
    .box-thumb-galery {width: calc(33.3333333333% - 20px);}
}

@media(max-width: 1060px){
    .from-city {width: 100%;text-align: center;}
    .div-social{width: 100%;text-align: center;}

    .box-desc-menu header {margin-bottom: 0.9rem;}
    .sec-post h1 { font-size: 2.5em;}
    .box-reserva h1 {font-size: 2.5em;}
    .box-desc-menu h1 {font-size: 2.5em;margin: 2rem 0 0.5rem 0;}
    .box-desc-menu p { margin: 0 15%;}
    .box-desc-menu .box-btn-black {margin: 2rem 0;}

    .box-varieti .desc-varieti .sec-title { margin: 0.5rem 0 0 0}
    .box-varieti .desc-varieti p {margin: 0.5rem 2rem;}
    .box-varieti .desc-varieti .box-btn-veja {margin-top: 0.5rem;}

    .lista-pratos .box-list-prato .box-desc-prato h1 {width: 100%;}
    .box-pratos { width: 80%;height: auto; margin: 125px 10%;}

    .thumb-cad{width: calc(33.33333333333333% - 20px);}
    .box-our-serv{width: calc(33.33333333333333% - 20px);}
}
@media(max-width: 1024px){
    .box-logo { margin: -3% 54%;}
    .box-interation .btn-slider {margin-right: -6rem;}
    #animation { margin-left: 495px;margin-top: 8px;}
    .control-two{position: relative; top: -60px;}
    .control-three{position: relative; top: -60px;}

    /*-------------- SINGLE CARDAPIO --------------*/
    .a-thumb-lunch{width: calc(25% - 20px);}
}

@media(max-width: 1010px){
    .box-desc-plates .btn-black { padding: 0.3rem 1rem;}
    .art-single-blg{width: 100%;}
    .sidebar-article{width: 100%;margin-left: 0;}
}

@media(max-width: 970px){
    /*----------MENU ------------*/
    /*    .menu{display: none;}
        .menu-right {display: none;}*/
    .box-interation{display: none;}
    /*------------------------CARDÁPIO----------------*/
    .box-plates {width: calc(50% - 50px); margin: 40px 25px;}


}
@media(max-width: 900px){
    .box-reserva { width: 90%;margin: 100px 5%;}
    .box-desc-menu { width: 80%; height: 100%;float: left; margin: 0 10%;}
    .box-thumb {width: 100%;}
    .box-varieti .thumb-two { width: 80%;margin: 2.5rem 10%;}
    .box-varieti .desc-varieti { width: 80%; text-align: center; margin: 0 10%; padding: 5rem;}
    .sec-scrumptious .sec-title h1 { font-size: 2.5em;}
    .box-pratos h1 {font-size: 2.5em;}
    .box-pratos .thumb-prato { margin-bottom: 3rem;}
    .box-pratos p { text-align: justify;}
    .desc-resevation h1 { font-size: 2.5em;}
    .desc-resevation{width: 100%;padding: 0 10%;}
    .desc-resevation p {text-align: justify;}
    .btn-fz-reserva {height: 3rem;margin-top: 2rem;}
    .grid-pratos {width: calc(33.33333333333333% - 20px);}
    .tagline{text-align: center !important;} 
    .box-form-reservation label { width: calc(50% - 20px);}
    .newsletter-footer h1 {font-size: 2.5em;}
    .form-newsletter input {width: 50%;margin: 0.5rem 0;}
    .form-newsletter .btn-news {width: 50%;}
    .ul-grid-instam { width: 90%;}
    .time-function { padding: 50px 10%;}
    .time-function h1 { font-size: 2.5em;}
    .time-function .text-title-time {text-align: justify;}
    .time-function .dye {width: calc(50% - 20px);margin: 0.1rem;}
    .box-logo-footer{margin: 3rem 0;}

    /*----------------QUEM SOMOS--------------*/    
    .box_thumb_quem{width: calc(33.33333333333333% - 20px); margin: 30px 10px;float: left;}

    /*------------------------BLOG-----------*/
    .box-thum-blog{float: left;width: calc(50% - 20px);margin: 40px 10px;}

    /*----------------------SINGLE CARDAPIO --------------*/
    .thumb-singlo-cad{width: 100%;}
    /*---------------------PAGE CARDAPIO ------------------*/
    .box-cardapio{width: 100%;margin-right: 0;}
    .aside-cad{width: 100%;float: left;padding-top: 1rem;}

    /*------------------------CONTATO ---------------------*/
    .block-contact {width: calc(50% - 20px);}
    /*--------------------- SINGLE CATEGORIA ---------------*/
    .box-more-menu { width: 100%; margin-right: 0;}
    .more-menu { width: 100%; float: left; padding-top: 1rem;}
    .desc-sg { width: 80%;}
    .box-search{display: none;}
    .box-news-single{display: none;}    
    /* GALERIA */
    .sec-galery {width: 100%;}
    .aside-galery {width: 100%;margin-top: 2rem;}
    .thumb-asd-alm {width: 7rem;height: auto;margin-right: 1rem;}

    /*------------------ RESERVA -------------------*/
    .box-cadastrar{width: 100%;border-right: 0;}
    .box-info-reservation{display: none;}
}
@media(max-width: 800px){
    .box-logo {margin: -3% 58%;}
    .box-reserva { width: 80%;margin: 100px 10%;  padding: 0 2.5rem;}
    .box-varieti .desc-varieti { width: 90%;    margin: 0 5%; padding: 4rem 0;}
    .sec-scrumptious .sec-title {width: 80%;margin: 0 10%; margin-bottom: 100px;}
    .box-pratos {width: 90%; height: auto; margin: 125px 5%;}
    .form-newsletter input {width: 80%;}
    .form-newsletter .btn-news {width: 80%;}

    /*----------------QUEM SOMOS--------------*/    
    .box_thumb_quem{width: calc(50% - 20px); margin: 30px 10px;float: left;}

    /*---------------- CARDÁPIO --------------*/ 
    .thumb-cad{width: calc(50% - 50px); margin: 40px 25px;}
    .box-our-serv{width: calc(50% - 50px); margin: 40px 25px;}

    /*-------------- SINGLE CARDAPIO --------------*/
    .a-thumb-lunch{width: calc(33.33333333333333% - 20px);}
    /*---------------- CONTATO ----------------------*/
    .form-contact { width: 100%; margin: 0;}
}
@media(max-width: 768px){
    .box-logo { margin: -3% 58%}
}

@media(max-width: 700px){
    .grid-pratos {width: calc(50% - 20px);}
    .banner-mobile{display: block;position: relative;}
    .banner-mobile img{margin: 0;padding: 0;position: relative;}
    .main_content{display: none;}  
    .banner-mobile .mirros-color{position: absolute;top: 0;width: 100%;height: 100%;float: left;background: rgba(0,0,0,0.2);z-index: 2;}
    .banner-mobile{display: block;position: relative;}  
    .mobi-400{display: none;}

    /*------------------------CARDÁPIO----------------*/
    .box-plates {width: calc(100% - 50px); margin: 40px 25px;}

    /*------------------- SINGLE CARDAPIO ----------------*/
    .box-thumb-on img {width: 15.9%;}
    /* GALERIA */
    .box-thumb-galery {width: calc(50% - 20px);}
}
@media(max-width: 650px){
    .sec-post h1 {font-size: 2em;}  
    .desc-sec-post {text-align: justify;padding: 0 5%}
    .box-reserva h1 { font-size: 2em;margin: 2rem 0 0.5rem 0;}  
    .box-reserva p {margin-bottom: 1rem;text-align: justify; }
    .box-btn-reservar { margin-bottom: 3rem;}
    .logo-topo-mob {width: 30%; position: relative;}
    .logo-topo-mob .lg-topo{position: relative;left: -45px;}

    .box-reserva-topo{width: 100%;text-align: center;}
    .box-reserva-topo .btn-rezerva-topo{text-align: center;}
    .lista-pratos .box-list-prato .box-thumb-list {width: 90%; float: left; margin: 0 5%}
    .lista-pratos .box-list-prato .box-desc-prato {width: 90%; float: left; margin: 5%;}
    .box-varieti {width: 95%;margin: 100px 2.5%;}
    .box-varieti .thumb-two {width: 95% !important; margin: 0.5rem 2.5% !important;}
    .box-varieti .desc-varieti p {margin: 0.5rem 0;}
    .sec-scrumptious .sec-title {width: 90%; margin: 2rem 5%;}
    .box-form-reservation label {width: calc(100% - 20px);}
    .box-pratos p { width: 95%; margin: 0 2.5% 0 2.5%;}
    .box-pratos {width: 90%;height: auto; margin: 2rem 5%;}
    .desc-resevation h1 {margin-top: 2rem;}
    .time-function h1 {font-size: 1.3em;}
    .time-function .dye { width: calc(100% - 20px); margin: 2rem 10px;}
    .box-logo-footer { margin: 0.5rem 0;}

    .sec-artigo .header-title h1{font-size: 2em;}
    .desc-article .conf-h2{font-size: 2em;}

    /*-------------- SINGLE CARDAPIO --------------*/
    .a-thumb-lunch{width: calc(50% - 20px);}

    .bg-single-top {width: 100%;height: 9rem;}
    /*---------------- RESERVA --------------------------*/
    .main-reserva .content{width: 98%;margin: 0 1%;}
    .art-reservation{padding: 1rem 0;}
    .box-cadastrar .form-reserva .nome, .sobre, .phone_rs, .sapp_rs, .qtd_rs, .date_rs, .time_rs, .dt_niver_rs{width: 100%;}
    .box-cadastrar  .time_rs{margin-bottom: 1rem;}
}
@media(max-width: 585px){
    /*------------------- SINGLE CARDAPIO ----------------*/
    .box-thumb-on img {width: 15.5%;}
}
@media(max-width: 560px){
    .lista-pratos .box-list-prato .box-desc-prato .text-title-1 .price {position: relative;}
    .grid-pratos .camada-color-plates  h1{display: block;position: absolute;bottom: 50px;}
    .grid-pratos .camada-color-plates p{display: block;position: absolute;bottom: 20px;}
    /*---------------- CARDÁPIO --------------*/ 
    .thumb-cad{width: 100%; margin: 40px 0;}
    .box-our-serv{width: 100%; margin: 40px 0;}

    /*--------------------BLOG----------------*/
    .sec-blog .conf-h1{font-size: 2em;}
    .box-thum-blog{float: left;width: 100%;margin: 40px 0;}

    .reply-user{padding-left: 2rem;}

    .art-single-cad h1{font-size: 2em;}
    /*------------------------CONTATO ---------------------*/
    .sec-contato h1{font-size: 2em;}
    .block-contact {width: 100%;}
    .form-contact .form-group .email {width: 95%;margin-bottom: 1.5rem;}
    .form-contact .form-group .phone {width: 95%;}
    /* GALERIA */
    .box-thumb-galery {width: calc(100% - 20px);}

}
@media(max-width: 450px){
    .box-logo{position: relative;margin: 20% 0;    left: 10px;}
    .box-reserva { width: 95%; margin: 100px 2.5%; padding: 0 1.5rem;}
    .box-desc-menu h1 {font-size: 2em;}
    .box-desc-menu p { margin: 0 2.5%; text-align: justify;}
    .box-desc-menu {width: 95%;margin: 0 2.5%;}
    .box-desc-menu .box-btn-black {margin: 2rem 0 4rem 0;}    
    .box-varieti .desc-varieti {width: 95%; margin: 0 2.5%; padding: 2rem 0 4rem 0;}
    .sec-scrumptious .sec-title h1 {font-size: 2em;}
    .box-pratos h1 {font-size: 2em;}    
    .grid-pratos {width: 100%;margin: 10px 0;}
    .lista-pratos .box-list-prato .box-thumb-list {width: 95%;margin: 0 2.5%;}
    .btn-fz-reserva {width: 90%;}
    .social-footer {width: 95%;margin: 0 2.5%;}
    .form-newsletter input {width: 100%;}
    .form-newsletter .btn-news {width: 100%;margin-top: 0.5rem;}
    .ul-grid-instam { width: 100%;}
    .ul-grid-instam li {width: 7rem;} 
    .banner-mobile .mobi-700{display: none;}
    .banner-mobile .mobi-400{display: block;width: 100%;background-size: cover;}

    .main-cardapio .conf-h1 {font-size: 2em;}
    .art-cardapio .btn-black {padding: 0.3rem 2rem;}
    .box-plates {width: 100%; margin: 40px 0;}

    /*----------------QUEM SOMOS--------------*/  
    .social-about a{display: inline-block;color: #fff;position: relative;}
    .conf-h2{text-align: center;}
    .box_thumb_quem{width: 100%; margin: 30px 10px;float: left;}    
    .thumb-quem-top-a{display: none;}
    .thumb-quem-top{display: block;}

    /*-------------- SINGLE CARDAPIO --------------*/
    .box-thumb-on img { width: 30.5%;}
    .a-thumb-lunch{width: calc(100% - 20px);}

}

@media(max-width: 360px){
    /* GALERIA */
    .thumb-asd-alm {width: 100%;height: auto;}
    .thumb-asd-alm img {width: 100%;height: 8rem;}
}


